{% extends "frth_app/base.html" %}
{% block body_block %}

<div class="jumbotron">
  <div class="container">
    {% if registered %}
    <h1>Thank You For Registering :)</h1>
    {% else %}
    <h1>REGISTER HERE!</h1><br>
    <h2>Fill Up The Form</h2><br>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <input type="submit" class="btn btn-primary" value="Register">
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
